body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:772px;
  height:68px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:148px;
  width:766px;
  height:62px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_ann {
  border-width:0px;
  position:absolute;
  left:813px;
  top:144px;
  width:1px;
  height:1px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:170px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:170px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(218, 96, 22, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 96, 22, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:165px;
  width:62px;
  height:30px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 135, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 96, 22, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:165px;
  width:62px;
  height:30px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 135, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 96, 22, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:165px;
  width:62px;
  height:30px;
  color:#FFFFFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 135, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 96, 22, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:165px;
  width:62px;
  height:30px;
  color:#FFFFFF;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 96, 22, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:165px;
  width:280px;
  height:30px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:170px;
  width:12px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Normal', 'Bodoni MT';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u13 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:172px;
  width:104px;
  height:16px;
  font-family:'Bodoni MT Normal', 'Bodoni MT';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
