body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:60px;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:154px;
  width:245px;
  height:44px;
  font-size:60px;
  color:#FFFFFF;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:261px;
  width:359px;
  height:124px;
  font-size:50px;
  color:#FFFFFF;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
